:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

#lixeiro {
  height: 20px;
  width: 20px;
}

body {
  background-image: url("Imagens/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1>span {
  color: #FFFB62
}

header h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Inter;
  font-weight: 750;
  font-size: 64px;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 700;
  font-family: Inter;
}

h2 {
  font-family: Inter;
  font-weight: 700;
}

p {
  font-family: Inter;
  font-weight: 600;
}

.caixaDireita,
.caixaEsquerda {

  display: flex;
  flex-direction: column;

  width: 549px;
  height: 790px;
  background-color: white;
  border-radius: 16px;
}

/*
#input2 h2{
  margin-bottom: 10%;
}
*/
#descricao {
  margin-bottom: 30px;
}

#input1 {
  margin-bottom: 5%;
}

#input2 {
  margin-bottom: 8%;
}

#botao {
  /*
  width: 330px;
  height: 72px;
  */
  width: 330px;
  height: 72px;
  border-radius: 28px;
  background-color: #4181FF;
  font-size: 32px;
  font-family: Inter;
  color: white;
}

.inputTexto {
  display: inline;
  width: 97%;
}

#campo1 {
  line-height: 330%;
  border-radius: 10px;
  border: 1px solid #333;
}

#campo2 {
  height: 147px;
  resize: none;
  border-radius: 10px;
  border: 1px solid #333;
}

.inputTexto::placeholder {
  color: #00000033;
  font-family: Inter;
  font-weight: 700;
  vertical-align: top;
  padding: 8px;
  font-size: 16px;
}

input[type="radio"] {
  appearance: none;
  width: 57px;
  height: 57px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[value="nao"] {
  margin-left: 8%;
}

/* Estilo para quando o botão de rádio está marcado */
input[type="radio"]:checked {
  background-color: #4181FF;
  border-color: #333;
}

#ajustarBotao {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

#opcoes p {
  color: #4C5CFF;
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#opcoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.caixaEsquerda h2,
.caixaEsquerda h1,
.caixaDireita>h1 {
  color: #4C5CFF;
}

.caixaEsquerda h1,
.caixaDireita h1 {
  font-size: 64px;
}

.caixaEsquerda h2 {
  margin-top: 0px;
  font-size: 32px;
}

.caixaEsquerda {
  margin: 0px;
  border-left: 2vw solid white;
  border-right: 2vw solid white;
  box-sizing: border-box;
}

.caixaDireita {
  border-bottom: 4.14%;
}

#placeholderLista {
  font-size: 225%;
  color: #00000033;
}

.caixaDireita h1 {
  display: flex;
  justify-content: center;
  margin-top: 6.85%;
  margin-bottom: 7%;
}


#input1 h2,
#input2 h2 {
  margin-bottom: 0px;
}

#inserir {
  height: 76.857%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px;
}

.elemento {
  display: flex;
  width: 90%;
  border-radius: 20px;
  margin-bottom: 3.9%;
}

.elemento div {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  max-width: 74.5%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.joystick {
  width: 56px;
  height: 61px;
  margin-top: auto;
  margin-bottom: auto;
}

.elemento p {
  /* display: inline; */
  margin: 0px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
}

.elemento h2 {
  /* display: inline; */
  margin: 0px;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
}

.lixeiro {
  width: 23px;
  height: 25px;
  margin-left: auto;
  margin-top: 1%;
}

.estrela {
  width: 28px;
  height: 27px;
  margin-right: 2%;
  margin-bottom: 22%;
  margin-top: 1%;
}

/* para a barra movel*/

#inserir::-webkit-scrollbar {
  height: 20px; /*Aparentemete nao muda nada, mas precisa para rodar*/
  width: 11px;
}

#inserir::-webkit-scrollbar-track {
  background: #F3F3F3;
  border-radius: 25px;
}

#inserir::-webkit-scrollbar-thumb {
  background: #D3D3D3;
  border-radius: 25px;
}

#inserir::-webkit-scrollbar-thumb:hover {
  background: #D3D3D3;
}
