:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

#lixeiro {
  height: 20px;
  width: 20px;
}

body {
  background-image: url("Imagens/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1>span {
  color: #FFFB62
}

header h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Inter;
  font-weight: 750;
  font-size: 64px;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 700;
  font-family: Inter;
}

h2 {
  font-family: Inter;
  font-weight: 700;
}

p {
  font-family: Inter;
  font-weight: 600;
}

.caixaDireita,
.caixaEsquerda {

  display: flex;
  flex-direction: column;

  width: 549px;
  height: 790px;
  background-color: white;
  border-radius: 16px;
}

/*
#input2 h2{
  margin-bottom: 10%;
}
*/
#descricao {
  margin-bottom: 30px;
}

#input1 {
  margin-bottom: 5%;
}

#input2 {
  margin-bottom: 8%;
}

#botao {
  width: 330px;
  height: 72px;
  border-radius: 28px;
  background-color: #4181FF;
  color: white;
  font-size: 32px;
  font-family: Inter;
  border: 2px solid #FFF;
}

.inputTexto {
  display: inline;
  width: 90%;
}

#campo1 {
  border-radius: 12px;
  border: 1px solid #333;
  padding: 15px
}

#campo2 {
  height: 120px;
  resize: none;
  border-radius: 12px;
  border: 1px solid #333;
  padding: 15px
}

.inputTexto::placeholder {
  color: #00000033;
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
}

input[type="radio"] {
  appearance: none;
  width: 57px;
  height: 57px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

input[value="nao"] {
  margin-left: 8%;
}

/* Estilo para quando o botão de rádio está marcado */
input[type="radio"]:checked {
  background-color: #4181FF;
  border-color: #333;
}

#ajustarBotao {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

#opcoes p {
  color: #4C5CFF;
  font-weight: 700;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#opcoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.caixaEsquerda h2,
.caixaEsquerda h1,
.caixaDireita>h1 {
  color: #4C5CFF;
}

.caixaEsquerda h1,
.caixaDireita h1 {
  font-size: 64px;
}

.caixaEsquerda h2 {
  margin-top: 0px;
  font-size: 32px;
}

.caixaEsquerda {
  margin: 0px;
  border-left: 2vw solid white;
  border-right: 2vw solid white;
  box-sizing: border-box;
}

.caixaDireita {
  border-bottom: 4.14%;
}

#placeholderLista {
  font-size: 225%;
  color: #00000033;
}

.caixaDireita h1 {
  display: flex;
  justify-content: center;
  margin-top: 6.85%;
  margin-bottom: 7%;
}


#input1 h2,
#input2 h2 {
  margin-bottom: 0px;
}

#inserir {
  height: 76.857%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px;
}

.elemento {
  display: flex;
  width: 90%;
  border-radius: 20px;
  margin-bottom: 3.9%;
}

.elemento div {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  max-width: 74.5%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.joystick {
  width: 56px;
  height: 61px;
  margin-top: auto;
  margin-bottom: auto;
}

.elemento p {
  /* display: inline; */
  margin: 0px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
}

.elemento h2 {
  /* display: inline; */
  margin: 0px;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
}

.lixeiro {
  width: 23px;
  height: 25px;
  margin-left: auto;
  margin-top: 1%;
}

.estrela {
  width: 28px;
  height: 27px;
  margin-right: 2%;
  margin-bottom: 20%;
  margin-top: 1%;
}

/* para a barra movel*/

#inserir::-webkit-scrollbar {
  height: 20px;
  /*Aparentemete nao muda nada, mas precisa para rodar*/
  width: 11px;
}

#inserir::-webkit-scrollbar-track {
  background: #F3F3F3;
  border-radius: 25px;
}

#inserir::-webkit-scrollbar-thumb {
  background: #D3D3D3;
  border-radius: 25px;
}

#inserir::-webkit-scrollbar-thumb:hover {
  background: #D3D3D3;
}

/* Toma ai, Marcos Paulo. Totalmente responsivo */

@media (max-width: 1440px) {

  html{
    display: block;
  }

  .caixaDireita,
  .caixaEsquerda {
    width: 411.75px;
    /*439.2px*/
    height: 592.5px;
  }

  header>h1 {
    font-size: 41.6px;
  }

  #botao {
    width: 200.5px;
    height: 56.8px;
    border-radius: 18.2px;
    font-weight: 500;
    font-size: 20.8px;
  }

  .inputTexto::placeholder {
    font-size: 10.4px;
  }

  #opcoes p {
    font-size: 20.8px;
  }

  .caixaEsquerda h1,
  .caixaDireita h1 {
    font-size: 41.6px;
  }

  .caixaEsquerda h1 {
    margin-top: 28px;
  }

  .caixaEsquerda h2 {
    font-size: 20.8px;
    margin-bottom: 5px;
  }

  #placeholderLista {
    font-size: 146.25%;
  }

  .elemento p {
    font-size: 10px;
  }

  .elemento h2 {
    font-size: 16px;
  }

  input[type="radio"] {
    width: 39.9px;
    height: 39.9px;
  }

  /* Espaçamentos */

  .caixaEsquerda {
    border-left: 36.3px solid white;
    border-right: 36.3px solid white;
  }

  .caixaDireita h1 {
    margin-top: 7.88%;
    margin-bottom: 8%;
  }

  #descricao {
    margin-bottom: 24px;
  }

  #input1 {
    margin-bottom: 5%;
  }

  #input2 {
    margin-bottom: 6.4%;
  }

  #inserir {
    height: 75.857%;
  }

  .elemento {
    margin-bottom: 3.12%;
    width: 87%;
  }

  .joystick {
    width: 44.8px;
    height: 48.8px;
  }

  .estrela {
    width: 22.4px;
    height: 21.6px;
    margin-bottom: 20.9%;
  }
}

@media (max-width: 1000px) {
  html{
    height: auto;
  }

  body {
    width: 97%;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .caixaEsquerda {
    margin-bottom: 10%;
  }

  .caixaDireita {
    margin-bottom: 10%;
  }

  .caixaDireita,
  .caixaEsquerda {
    width: 360px;
    height: 538px;
  }

  header>h1 {
    font-size: 33.28px;
  }

  /*
  #botao {
    width: 171.6px;
    height: 37.44px;
    border-radius: 14.56px;
    font-size: 16.64px;
  }
  */

  #botao {
    width: 150.4px;
    height: 45.44px;
    border-radius: 18.2px;
    font-weight: 500;
    font-size: 18.8px;
  }

  .inputTexto::placeholder {
    font-size: 10.32px;
  }

  #opcoes p {
    font-size: 16.64px;
  }

  .caixaEsquerda h1,
  .caixaDireita h1 {
    font-size: 33.28px;
  }

  .caixaEsquerda h1 {
    margin-top: 22.4px;
  }

  .caixaEsquerda h2 {
    font-size: 16.64px;
    margin-bottom: 4px;
  }

  #placeholderLista {
    font-size: 117%;
  }

  .elemento p {
    font-size: 8px;
  }

  .elemento h2 {
    font-size: 12.8px;
  }

  input[type="radio"] {
    width: 31.92px;
    height: 31.92px;
  }

}
